* {
  padding: 0;
  margin: 0;
}
.rotate-photos__list,
.rotate-photos__item {
  margin: 0;
  padding: 0;
  list-style: none;
}
.rotate {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
.rotate-product {
  padding-bottom: 140px;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.rotate-product__content {
  position: relative;
}
.rotate-product__content-img {
  max-width: 100%;
  max-height: 100%;
}
.rotate-product__content-model {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.rotate-photos {
  width: 100%;
  overflow: auto;
  width: 100%;
  bottom: 0px;
  position: absolute;
  height: 125px;
}
.rotate-photos__list {
  display: inline-block;
  white-space: nowrap;
}
.rotate-photos__item {
  display: inline;
  margin: 0 20px 0 0;
}
.rotate-photos__item-link {
  display: inline-block;
  border: 2px solid #fff;
}
.rotate-photos__item-link_current,
.rotate-photos__item-link:hover {
  border: 2px solid #7abb08;
}
.rotate-photos__item-link_360 {
  position: relative;
}
.rotate-photos__item-link_360:after {
  background: rgba(255,255,255,0.8) url("../images/rotate/rotate_rotate.png") no-repeat 50% 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
}
.rotate-photos__item-img {
  display: block;
  width: 140px;
  height: 100px;
}
.rotate-full {
  position: absolute;
  right: 15px;
  top: 15px;
}
.rotate-full-link {
  background: url("../images/rotate/rotate_sprite.png") no-repeat 0 0;
  display: block;
  width: 48px;
  height: 48px;
}
.rotate-full-link:hover {
  background-position: -49px 0;
}
